@model Electronique_Labo.Models.ViewModel
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
</div>
@*<div class="form-row">
    <form class="input-group  float-right">
        <input class=" form-control form-control-lg" type="search" placeholder="Cherche" aria-label="Search">
        <button class="btn btn-outline-dark  " type="button">Chercher</button>
    </form>
    <input type="button" value="Ajouter Expiriment" class="btn btn-primary btn-lg float-left "/>
</div>*@
    <div class=" jumbotron bg-dark"> @*album py-5 bg-light*@
        <div class="container">

            <div class="row">
               
                    @foreach(var listExpiriment in Model.Expiriments) { 
                        <div class="col-md-4">
                            <div class="card mb-4 box-sizing">
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/Images/ImageExpiriment/@listExpiriment.Image" data-holder-rendered="true">
                                <div class="card-body">
                                    <h5 class="card-title">@listExpiriment.Titre</h5>
                                    <p class="card-text">@listExpiriment.But</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">                                   
                                            @Html.ActionLink("Modifier","Edit",new{id=listExpiriment.Id},new {@class= "btn btn-sm btn-success" })
                                            @using (Html.BeginForm("Delete","Expiriment", new { listExpiriment.Id }))

                                            {
                                                var myModal = "myModal" + listExpiriment.Id;
                                                <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#@myModal"
                                                        data-whatever="@listExpiriment.Id">
                                                    Supprimer
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">Supprimer Expiriment</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Voulez-Vous vraiment Supprimer: <span><b>@listExpiriment.Titre</b></span>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-danger">Supprimer</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        <strong class="text-muted">@listExpiriment.DateTime.ToShortDateString()</strong>
                                    </div>
                                </div>
                            </div>
                        </div> 
                 }
                    
                             
            </div>
        </div>
    </div>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
    </div>
</footer>
<style>
    body {
   
        padding-top: 5px;
     
    }
    .body-content {
        padding-right: 0; 
        padding-left: 0
    }
</style>